* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.body-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

.main-box {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: center;
    width: 600px;
    height: 400px;
}

#main-wrapper {
    width: 100%;
    height: 100vh;
    display: block;
    z-index: -100;
    position: relative;
    opacity: 1;
}

.main-box .search-box {
    width: 530px;
    height: 43px;
    z-index: 100;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 43px;
    box-shadow: rgba(0, 0, 0, .2) 0 0 10px;
    background-color: #f0f8ff;
    align-items: center;
    display: flex;
    padding: 0px 10px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

#search-input {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    font-size: 14px;
    text-align: left;
    background-color: #f0f8ff;
}

.search-box .searchBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

#btnSearch :active {
    background-color: #f0f8ff;
}

.timeBox {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont;
    font-weight: 500;
    font-size: 42px;
    text-shadow: 0 0 20px rgba(0, 0, 0, .35);
    white-space: nowrap;
    cursor: grab;
}

#timeText {
    font-size: 60px;
}

#dateText {
    font-size: 20px;
}

#menuSearchEng {
    top: 218px;
    left: 55px;
    padding: 5px;
    max-height: calc(100vh - 265px);
    display: none;
    opacity: 1;
    z-index: 51;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    min-width: 160px;
    background-color: #f0f8ff;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .25);
    transform-origin: 0 0;
    transform: scale(1);
    transition: .25s;
}

.menuItem {
    position: relative;
    top: 1px;
    margin-right: 15px;
    font-size: 17px;
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    -moz-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    -ms-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menuItem:hover {
    background-color: bisque;
}

.searchDiscover {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 530px;
    padding: 15px 50px;
    border-radius: 15px;
    color: rgba(255, 255, 255, .9);
    font-size: 14px;
    text-align: left;
    cursor: default;
    margin: 10px 40px 10px 40px;
}

.historyBox {
    width: 100%;
    height: 60px;
    padding: 10px 0px 10px 0px;
    display: flex;
    flex-wrap: wrap;
}

.searchHistory {
    display: inline-block;
    max-width: 100px;
    padding: 0 10px;
    background-color: #f0f8ff;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    color: black;
    cursor: pointer;
}

#clearHistory {
    text-decoration: underline;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    bottom: 0;
    height: 20px;
}


.header-home {
    height: 56px;
    width: 100%;
    padding:0 40px;
    top: 0;
    position: fixed;
    background-color: rgb(240, 255, 255, 0.5);
    z-index: 1000;
    border-bottom: 1px solid #e8e8e8;
    box-shadow: 0 1px 2px #23293314, 0 2px 12px #001f470a
}
.header-logo{
    height: 42px;
}
.header-home ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline-start: 0px;
    height: 100%;
    font-size: 16px;
    font-weight: 500;
    color: #1f2329
}

.header-home-list li {
    color:#f0f8ff;
    white-space: nowrap;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-right: 40px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: color .3s;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -ms-transition: color .3s;
    -o-transition: color .3s;
}

.header-home-list li :hover{
    color: #1f2329;
}